@using JustTrade.Helpers
@model JustTrade.Database.PermissionTemplate

<div id="add_update_permiotion_dialog" style="display: none" title="@(Model == null?Lang.Get("Add template"):Lang.Get("Edit template"))">
	<div class="input-group input-group-sm">
		<span class="input-group-addon">@Lang.Get("Template name")</span>
		<input id="template_name" type="text" class="form-control"  value="@(Model != null ? Model.Name : "")" aria-describedby="basic-addon1">
	</div>
</div>

<script language="javascript">

    $(document).ready(function () {

		$("#add_update_permiotion_dialog").dialog({
			resizable: true,
			width: "350",
			height: "200",
			modal: true,
			close: function () { },
			buttons: [
				{
					text: '@(Model != null?@Lang.Get("Change"):@Lang.Get("Add"))',
					icons: {
						primary: "ui-icon-check"
					},
					click: function () {
					    AddUpdateTemplate(function () {
					    	$("#add_update_permiotion_dialog").dialog("destroy");
					    	PermissionForm("RefreshTemplates");
					    });
					}
				},
				{
					text: '@Lang.Get("Cancel")',
					icons: {
						primary: "ui-icon-close"
					},
					click: function () {
					    $("#add_update_permiotion_dialog").dialog("destroy");
					}
				}
			]
		});

	});


    function AddUpdateTemplate(callback) {
        ShowBlockUI.Show();
        $("#AddUpdateTempolate").remove();
		$.ajax({
			type: "POST",
			url: "Permission/@(Model == null? "AddTemplate" : "UpdateTemplate")",
		    data: { id: "@(Model==null?Guid.Empty.ToString():Model.Id.ToString())" , name: $("#template_name").val() },
			success: function (response) {
				if (response.length > 0) {
					$("#json_data").append("<div id='AddUpdateTempolate'>" + response + "</div>");
				} else {
					callback();
				}
			},
			complete: function () {
			    $.unblockUI();
			},
			error: function (xhr, status, error) {
				var message = '@Lang.Get("Error connect to server. Message:")';
			    alert(message + error);
			    callback();
			}
		});
	}


</script>