@using JustTrade.Controllers
@using JustTrade.Controllers.Administration
@using JustTrade.Helpers
@model JustTrade.Database.User
@{
    var dialogId = Guid.NewGuid();
	var permissionList = (List<UserController.UserPermissionItem>)ViewBag.PermissionList;
}
<link rel="stylesheet" href="../Content/css/message.css">
<link rel="stylesheet" href="../Content/css/admin/user.css">

<div id="dialog_@dialogId" class="." title="@(Model == null?Lang.Get("Add user"):Lang.Get("Edit user"))">

	<form id="add_user">
		<input id="userId" type="hidden" value="@(Model != null ? Model.Id.ToString() : Guid.Empty.ToString())" name="Id" />
		<div class="add-update-user-form-container">

			<div class="input-group input-group-sm">
				<span class="input-group-addon">@Lang.Get("User Name")</span>
				<input id="Name" name="Name" type="text" class="form-control" 
					value="@(Model != null ? Model.Name : "")" aria-describedby="basic-addon1">
			</div>

			<div class="input-group input-group-sm">
				<span class="input-group-addon">@Lang.Get("Login")</span>
				<input id="Login" name="Login" val-type="key" val-min="6" type="text" class="form-control" 
					value="@(Model != null ? Model.Login : "")" aria-describedby="basic-addon1">
			</div>

			<div class="input-group input-group-sm">
				<span class="input-group-addon">@Lang.Get("AllowIpAdress")</span>
				<input id="AllowIPAdress" name="AllowIPAdress" val-type="iplist" type="text" 
					value="@(Model != null?Model.AllowIPAdress:"")" class="form-control">
			</div>

			<div class="input-group input-group-sm">
				<span class="input-group-addon">@Lang.Get("Permission")</span>
				<select id="tagPermission" class="form-control" multiple="multiple">
					@foreach (var item in permissionList) {
						<option @(item.IsUse?"selected='selected'":"") value="@item.Id">@item.TemplateName</option>
					}
				</select>
			</div>

			<div class="input-group input-group-sm">
				<span class="input-group-addon">@Lang.Get("Password")</span>
				<input id="Password" val-type="text" val-min="6" name="Password" type="password" class="form-control" 
					value="@(Model != null ? "123456" : "")" aria-describedby="basic-addon1">
			</div>

			<div class="input-group input-group-sm">
				<span class="input-group-addon">@Lang.Get("Reply password")</span>
				<input id="Replay_password" type="password" val-type="match" val-match="Password" val-min="6" val-error-msg="Пароль должен совпадать!"
					class="form-control"  value="@(Model != null ? "123456" : "")" aria-describedby="basic-addon1">
			</div>

		</div>
	</form>

</div>

<script language="javascript">
	$(document).ready(function () {
		$("#tagPermission").select2({
			width: "245px",
			closeOnSelect: true
		});
		ShowDialog();
	});

	function ShowDialog() {
		$("#dialog_@dialogId").dialog({
			resizable: true,
			width: 450,
			height: 400,
			modal: true,
			close: function () {
				UserForm("RefreshUser");
				$("#dialog_@dialogId").remove();
			},
			buttons: [
                {
                	text: '@(Model != null?@Lang.Get("Change"):@Lang.Get("Add"))',
                	icons: {
                		primary: "ui-icon-check"
                	},
                	click: function () {

                		var validator = new InputValidator(".add-update-user-form-container");
		                validator.Check(function(result) {
		                	if (result) {
		                		AddUpdateUserPost(function () {
		                			$("#dialog_@dialogId").dialog("close");
		                		    $("#dialog_@dialogId").dialog("destroy");
		                			$("#dialog_@dialogId").remove();
		                		});
			                }
		                });
                		
                	}
                },
				{
					text: "Cancel",
					icons: {
						primary: "ui-icon-close"
					},
					click: function () {
						$("#dialog_@dialogId").dialog("close");
					    $("#dialog_@dialogId").dialog("destroy");
						$("#dialog_@dialogId").remove();
					}
				}
			]
		});
	}

	function AddUpdateUserPost(callback) {
		var permissionIds = $("#tagPermission").select2("val");
		$("#AddUpdatePost").remove();
		$.ajax({
			type: "POST",
			url: 'User/@(Model != null?"Update":"Add")',
			data: { user: $("#add_user").serializeObject(), permissionTemplates: permissionIds },
			success: function (response) {
				if (response.length > 0) {
					$("#json_data").append("<div id='AddUpdatePost'>" + response + "</div>");
				} else {
					callback();
				}
			},
			complete: function () {

			},
			error: function (xhr, status, error) {
				var message = '@Lang.Get("Error connect to server. Message:")';
				alert(message + error);
			}
		});
	}

	function AjaxResultAddUpdateForm(parameter) {
		if (typeof (AjaxResult) == "function") {
			$("#AddUpdateForm_add").remove();
			AjaxResult("AddUpdateForm", parameter);
		}
	}

</script>

