@using JustTrade.Helpers
@model JustTrade.Database.User
@{
    var dialogId = Guid.NewGuid();
}
<link rel="stylesheet" href="../Content/css/message.css">

<div id="dialog_@dialogId" class="message" title="Add user">

    <!-- Form desctiption -->

    <form id="add_user">
        <div class="login-form-container">

            <div class="input-group">
                <span class="input-group-addon"> @Lang.Get("User Name")</span>
                <input id="Name" type="text" class="form-control" aria-describedby="basic-addon1">
            </div>

            <div class="input-group">
                <span class="input-group-addon"> @Lang.Get("Login")</span>
                <input id="Login" type="text" class="form-control" aria-describedby="basic-addon1">
            </div>

            <div class="input-group">
                <span class="input-group-addon"> @Lang.Get("Login")</span>
                <input id="IsSuperuser" type="checkbox" class="form-control" aria-describedby="basic-addon1">
            </div>

            <div class="input-group">
                <span class="input-group-addon"> @Lang.Get("Password")</span>
                <input id="Password" type="password" class="form-control" aria-describedby="basic-addon1">
            </div>

            <div class="input-group">
                <span class="input-group-addon"> @Lang.Get("Repay password")</span>
                <input id="Replay_password" type="password" class="form-control" aria-describedby="basic-addon1">
            </div>

        </div>
    </form>

</div>

<script language="javascript">
	$(document).ready(function() {
	    ShowDialog();
	});

	function ShowDialog() {
		$("#dialog_@dialogId").dialog({
	        resizable: true,
	        height: 400,
	        width: 750,
	        modal: true,
	        close: function () { $("#dialog_@dialogId").remove(); },
		    buttons: [
                {
                    text: '@Lang.Get("Add")',
                    icons: {
                        primary: "ui-icon-check"
                    },
                    click: function () {
                        AddUser(function() {
                            $(this).dialog("close");
                            $("#dialog_@dialogId").remove();
                        });
                    }
                },
				{
				    text: "Cancel",
				    icons: {
				        primary: "ui-icon-close"
				    },
				    click: function () {
				        $(this).dialog("close");
				        $("#dialog_@dialogId").remove();
				    }
				}
	        ]
	    });
	}

	function AddUser(callback) {
	    $.ajax({
	        type: "POST",
	        url: "User/Add",
	        data: $("#add_user").serialize(),
	        success: function (response) {
	            callback();
	            //console.log(response);
	        }
	    });
	}


</script>

