@using JustTrade.Helpers
@model IDictionary<string, string>

<link rel="stylesheet" href="../Content/css/admin/language.css">

<ol class="breadcrumb admin-page-header">
  <li> - @Lang.Get("Edit localization")</li>
</ol>

<div class="panel panel-default localization-info">
  <div class="panel-heading">@Lang.Get("Language information")</div>
  <div class="panel-body">
	  <div class="input-group input-group-sm">
		  <span class="input-group-addon" id="sizing-addon1">@Lang.Get("Name")</span>
		  <input id="lang-name" type="text" class="form-control" value='@Model["LocaleInformation.LocaleName"]' aria-describedby="sizing-addon1">
	  </div>

	  <div class="input-group input-group-sm">
		  <span class="input-group-addon" id="sizing-addon1">@Lang.Get("Version")</span>
		  <input id="lang-version" type="text" class="form-control" value='@Model["LocaleInformation.Version"]' aria-describedby="sizing-addon1">
	  </div>

  </div>
</div>


<div class="panel panel-default localization-items">
	<div class="panel-heading">@Lang.Get("Language dictionary")</div>
	<div class="panel-body">
	
		<table class="table">
			@foreach (var item in Model) {
				if(!item.Key.Contains("LocaleInformation")){
					<tr>
						<td>
							<span class=" remove-item glyphicon glyphicon-remove"></span>
						</td>
						<td class="td-key">
							<input class="lang-key" type="text" value="@item.Key"/> 
						</td>
						<td>
							 <input class="lang-value" type="text" value="@item.Value"/> 
						</td>
					</tr>
				}
			}
			<tr id="add-row-button">
				<td colspan="3">
					<span class="glyphicon glyphicon-log-in" onclick="AddRow()"></span>
				</td>
			</tr>
		</table>

	</div>
</div>

<button id="save_button" type="button" class="btn btn-default" onclick="Save()">
	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> @Lang.Get("Save")
</button>

<div id="json_data" style="display: none"></div>

<script type="text/javascript">

	$(document).ready(function() {

		$("table.table").on("click", "span.remove-item", function () {
			var selectedItem = $(this);
			var langKey = selectedItem.parent().parent().find(".lang-key").val();
			var message = Tools.StrFormat('@Lang.Get("Do you want delete language key ({0}) item ?")', langKey);
			var ms = new MessageBox(message, '@Lang.Get("Warning")');
			ms.Confirm(function (isAccept) {
				if (isAccept) {
					var item = selectedItem.parent().parent();
					item.fadeOut(500, function () {
						selectedItem.remove();
					});
				}
			});
		});

	});


	function Save() {
		ShowBlockUI.Show();
		var data = GetLanguageData();
		var name = $("#lang-name").val();
		var version = $("#lang-version").val();
		$.ajax({
			type: "POST",
			url: "Language/Save",
			data: { langDictionary: data, name: name, version: version },
			success: function (response) {
				$.unblockUI();
				if (response.length > 0) {
					$("#json_data").append("<div id='ErrorSaveLangDict'>" + response + "</div>");
				} else {
					GoTo("edit_locale");
				}
			},
			complete: function () {

			},
			error: function (xhr, status, error) {
				$.unblockUI();
				var message = '@Lang.Get("Error connect to server. Message:")';
				alert(message + error);
			}
		});
	}

	function AddRow() {
		$("#add-row-button").fadeOut(500, function() {
			$(this).remove();
			$(".localization-items .table")
						.append('<tr class="new-item">' +
									'<td>' +
										'<span class=" remove-item glyphicon glyphicon-remove"></span>' +
									'</td>' +
									'<td class="td-key">' +
										'<input class="lang-key" type="text" value=""/> ' +
									'</td>' +
									'<td>' +
										' <input class="lang-value" type="text" value=""/> ' +
									'</td>' +
								'</tr>');

			$(".localization-items .table")
				.append('<tr id="add-row-button" class="new-item"> <td colspan="3"> ' +
				'<span class="glyphicon glyphicon-log-in" onclick="AddRow()"></span> </td> </tr>');

			$(".new-item").fadeIn(500, function () {
				$(this).removeClass("new-item");
			});
		});
	}

	function GetLanguageData() {
		var result = {};
		var trCollection = $(".localization-items tr");
		trCollection.each(function (index, data) {
			var key = $(data).find(".lang-key").val();
			var value = $(data).find(".lang-value").val();
			if (key !== undefined && value !== undefined) {
				if (key.length > 0 && value.length > 0) {

					if (result[key]) {
						if (!result[key].push) {
							result[key] = [result[key]];
						}
						result[key].push(value);
					} else {
						result[key] = value;
					}
				}
			}
		});
		return result;
	}

</script>

